.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;
}

.nav-item {
  margin-right: 10px;
  align-items: center;
  font-size: 22px;
  
}

.main-currency-header {
  font-family: fantasy;
  font-style: italic;
  
}

.nav-icon {
  align-items: center;
  display: inline-flex;
  margin-top: 5px;
  font-size: large;  
}

.social-links {
  display: flex;
  justify-content: center;
}

.input-values {
  display: flex;
  justify-content: center;
}

.copyright-section {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-brand {
  font-family: fantasy;
  font-style: italic;

}

.nav-item {
  font-style: italic;
  font-family: fantasy;
}

.select-area {
  margin-bottom: 30px;
}

.options {
  margin-bottom: 20px;
}

.selectBoxes {
  text-align: center;
  position: relative;
  
}

.footer-section {
  background-color: #343a40;
}