.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;
}

.nav-item {
  margin-right: 10px;
  align-items: center;
  font-size: 22px;
  
}

.main-currency-header {
  font-family: fantasy;
  font-style: italic;
  
}

.nav-icon {
  align-items: center;
  display: inline-flex;
  margin-top: 5px;
  font-size: large;  
}

.social-links {
  display: flex;
  margin-right: 30px;
}

.container {
  display: flex;
  justify-content: center;
}

#footer-container {
  display: flex;
}

.navbar-brand {
  font-family: fantasy;
  font-style: italic;

}

.nav-item {
  font-style: italic;
  font-family: fantasy;
}